@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4133AB;
  --secondary: #24B6B6;
  --btn-active: #EFECE7;
  --footer: #5A5E5D;
  --background-card: #D9D9D9;
  --text-card: #C7C7C7;
  --popover: #948484;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #4133AB;
    --secondary: #24B6B6
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}